<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>
{% block title %}
{% endblock %}
</title>
<link href="{{ url_for('static',filename='style/style.css') }}" type="text/css" rel="stylesheet">
{% block style %}

{% endblock %}
</head>
<body>
{% block body %}
  <div class="banner">
    <a href="/"><img src="{{ url_for('static', filename='images/banner.jpeg') }}"></a>
  </div>
  <div class="header">
    <img src="{{ url_for('static', filename='images/header.jpg') }}">
    <span>卫生技术评估研讨会</span>
  </div>
{% endblock %}
<script src="https://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
{% block script %}

{% endblock %}
</body>
</html>