{% extends "thin-side.html" %}
{% block side %}
  {{ super() }}
  <div class="side-content">
    <button class="btn red-btn" id="profile">PROFILE</button>
  </div>
{% endblock %}
{% block container %}
  <div class="header">
    <p style="font-size: 18px;">
      <span style="font-weight: bold">{{ user.name }}</span><br>
      <span>{{ user.title }} of</span><br>
      <span>{{ user.department }}</span><br>
    </p>
  </div>
  <div class="content">
    <div class="photo sm-photo">
      <img src="/static/upload/{{ user.photo.path }}">
    </div>
    <div class="profile-detail">
      <div class="description">
        <p style="font-size: 18px;">Experience</p>
        {% for exp in user.cv.experience %}
          <div class="exp">
            <h4>{{ exp.title }}</h4>
            <p>{{ exp.org }}</p>
            <p>{{ exp.duration }}</p>
          </div>
        {% endfor %}
        <p style="font-size: 18px;">Skills</p>
        <p class="skills">
          {{ user.cv.skills }}
        </p>
        <p style="font-size: 18px;">Education</p>
        {% for edu in user.cv.education %}
          <div class="edu">
            <h4>{{ edu.school }}</h4>
            <p>{{ edu.major }}</p>
            <p>{{ edu.duration }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="content-btn-group">
        {% if user.podcast %}
          <button class="btn red-btn left" id="podcast">PODCAST</button>
        {% endif %}
        {% if user.cv %}
          <button class="btn red-btn left selected" id="cv">CV</button>
        {% endif %}
        {% if user.news %}
          <button class="btn red-btn left" id="news">NEWS</button>
        {% endif %}
        {% if user.portfolio %}
          <button class="btn red-btn left" id="portfolio">PORTFOLIO</button>
        {% endif %}
        {% if user.pip_block %}
          <img id="pip-block" src="{{ url_for('static', filename="images/mark.png") }}">
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    $(document).ready(function () {
      $('#podcast').click(function () {
        document.location.href = '/profile/{{ user.id }}/podcast'
      });
      $('#profile').click(function () {
        document.location.href = '/profile/{{ user.id }}'
      });
      $('#cv').click(function () {
        document.location.href = '/profile/{{ user.id }}/cv'
      });
      $('#news').click(function () {
        document.location.href = '/profile/{{ user.id }}/news'
      });
      $('#portfolio').click(function () {
        document.location.href = '/profile/{{ user.id }}/portfolio'
      });
      $('#pip-block').click(function () {
        document.location.href = '/profile/{{ user.id }}/pip'
      });
    });
  </script>
{% endblock %}