{% extends "thin-side.html" %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/tooltipster/css/tooltipster.bundle.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/tooltipster/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css') }}"/>
{% endblock %}
{% block side %}
  {{ super() }}
  <div class="side-content">
    <button class="btn red-btn" id="profile">PROFILE</button>
  </div>
{% endblock %}
{% block container %}
  <div class="header">
    <p style="font-size: 18px;">
      <span style="font-weight: bold">{{ user.name }}</span><br>
      <span>{{ user.title }} of</span><br>
      <span>{{ user.department }}</span><br>
    </p>
  </div>
  <div class="content">
    <div class="pip-block">
      <div class="left-block">
        <div class="left-top-block pip-content">
          {% for block in user.pip_block.pip_block_piece %}
            {% if block.position == 'left-top' %}
          <p>
            <span class="tooltip" title="{{ block.description }}">{{ block.keyword }}</span>
          </p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="left-bottom-block pip-content">
          {% for block in user.pip_block.pip_block_piece %}
          {% if block.position == 'left-bottom' %}
          <p>
            <span class="tooltip" title="{{ block.description }}">{{ block.keyword }}</span>
          </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="right-block">
        <div class="right-top-block pip-content">
          {% for block in user.pip_block.pip_block_piece %}
          {% if block.position == 'right-top' %}
          <p>
            <span class="tooltip" title="{{ block.description }}">{{ block.keyword }}</span>
          </p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="right-bottom-block pip-content">
          {% for block in user.pip_block.pip_block_piece %}
          {% if block.position == 'right-bottom' %}
          <p>
            <span class="tooltip" title="{{ block.description }}">{{ block.keyword }}</span>
          </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/tooltipster/js/tooltipster.bundle.min.js') }}"></script>
  <script>
    $(document).ready(function () {
      $('#podcast').click(function () {
        document.location.href = '/profile/{{ user.id }}/podcast'
      });
      $('#profile').click(function () {
        document.location.href = '/profile/{{ user.id }}'
      });
      $('#cv').click(function () {
        document.location.href = '/profile/{{ user.id }}/cv'
      });
      $('#news').click(function () {
        document.location.href = '/profile/{{ user.id }}/news'
      });
      $('#portfolio').click(function () {
        document.location.href = '/profile/{{ user.id }}/portfolio'
      });
      $('#pip-block').click(function () {
        document.location.href = '/profile/{{ user.id }}/pip'
      });
      $('.tooltip').tooltipster({
        animation: 'fade',
        delay: 200,
        theme: 'tooltipster-light',
        trigger: 'click',
        maxWidth: 300
      });
    });
    $('.pip-content p').each(function (i) {
      var arr = ["left", "right", "center"];
      var n = Math.floor(Math.random() * arr.length + 1) - 1;
      $(this).css('text-align', arr[n]);
    });
  </script>
{% endblock %}
