{% extends "thin-side.html" %}
{% block side %}
  {{ super() }}
  <div class="side-content">
    <button class="btn red-btn" id="profile">PROFILE</button>
  </div>
{% endblock %}
{% block container %}
  <div class="header">
    <p style="font-size: 18px;">
      <span style="font-weight: bold">{{ user.name }}</span><br>
      <span>{{ user.title }} of</span><br>
      <span>{{ user.department }}</span><br>
    </p>
  </div>
  <div class="content">
    <div class="portfolio-list">
    {% for piece in user.portfolio.portfolio_piece %}
      <div class="portfolio-item">
        <div class="portfolio-pic">
          <img src="{{ url_for('static',filename='upload/'+piece.pic.path) }}">
        </div>
        <div class="portfolio-info">
          <h4>{{ piece.title }}</h4>
          <p>{{ piece.summary }}</p>
          <p>{{ piece.detail }}</p>
        </div>
        <div style="clear:both"></div>
      </div>
    {% endfor %}
      <div class="content-btn-group">
        {% if user.podcast %}
          <button class="btn red-btn left" id="podcast">PODCAST</button>
        {% endif %}
        {% if user.cv %}
          <button class="btn red-btn left" id="cv">CV</button>
        {% endif %}
        {% if user.news %}
          <button class="btn red-btn left" id="news">NEWS</button>
        {% endif %}
        {% if user.portfolio %}
          <button class="btn red-btn left selected" id="portfolio">PORTFOLIO</button>
        {% endif %}
        {% if user.pip_block %}
          <img id="pip-block" src="{{ url_for('static', filename="images/mark.png") }}">
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    $(document).ready(function () {
      $('#podcast').click(function () {
        document.location.href = '/profile/{{ user.id }}/podcast'
      });
      $('#profile').click(function () {
        document.location.href = '/profile/{{ user.id }}'
      });
      $('#cv').click(function () {
        document.location.href = '/profile/{{ user.id }}/cv'
      });
      $('#news').click(function () {
        document.location.href = '/profile/{{ user.id }}/news'
      });
      $('#portfolio').click(function () {
        document.location.href = '/profile/{{ user.id }}/portfolio'
      });
      $('#pip-block').click(function () {
        document.location.href = '/profile/{{ user.id }}/pip'
      });
    });
  </script>
{% endblock %}
