{% extends "thin-side.html" %}
{% block side %}
  {{ super() }}
  {% if owner %}
    <div class="side-btn-group">
      <button class="btn red-btn" id="invite">INVITE</button>
      <button class="btn blue-btn" id="talks">TALKS</button>
{#      <button class="btn blue-btn" id="interview">INTERVIEW</button>#}
    </div>
  {% endif %}
{% endblock %}
{% block container %}
  <div class="header">
    <p style="font-size: 18px;">
      <span style="font-weight: bold">{{ user.name }}</span><br>
      <span>{{ user.title }} of</span><br>
      <span>{{ user.department }}</span><br>
    </p>
  </div>
  <div class="content">
    <div class="photo">
      <img src="/static/upload/{{ user.photo.path }}">
    </div>
    <div class="profile-detail">
      <div class="video">
        <video controls=true>

          <source src="/static/upload/{{ user.video.path }}" type="video/mp4">
        </video>
      </div>
      <div class="description">
        <p>
          {{ user.info }}
        </p>
      </div>
      <div class="content-btn-group">
        {% if user.podcast %}
          <button class="btn red-btn left" id="podcast">PODCAST</button>
        {% endif %}
        {% if user.cv %}
          <button class="btn red-btn left" id="cv">CV</button>
        {% endif %}
        {% if user.news %}
          <button class="btn red-btn left" id="news">NEWS</button>
        {% endif %}
        {% if user.portfolio %}
          <button class="btn red-btn left" id="portfolio">PORTFOLIO</button>
        {% endif %}
        {% if user.pip_block %}
          <img id="pip-block" src="{{ url_for('static', filename="images/mark.png") }}">
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    $(document).ready(function () {
      $('#invite').click(function () {
        document.location.href = '/invite'
      });
      $('#talks').click(function () {
        document.location.href = '/profile/{{ user.id }}/talks'
      });
      $('#interview').click(function () {
        document.location.href = '/profile/{{ user.id }}/interview'
      });
      $('#podcast').click(function () {
        document.location.href = '/profile/{{ user.id }}/podcast'
      });
      $('#profile').click(function () {
        document.location.href = '/profile/{{ user.id }}'
      });
      $('#cv').click(function () {
        document.location.href = '/profile/{{ user.id }}/cv'
      });
      $('#news').click(function () {
        document.location.href = '/profile/{{ user.id }}/news'
      });
      $('#portfolio').click(function () {
        document.location.href = '/profile/{{ user.id }}/portfolio'
      });
      $('#pip-block').click(function () {
        document.location.href = '/profile/{{ user.id }}/pip'
      });
    });
  </script>
{% endblock %}
